<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277823184852-pup8i5e0ij6ouuf6bsg814dqks2vddod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277823184852-pup8i5e0ij6ouuf6bsg814dqks2vddod</string>
	<key>API_KEY</key>
	<string>AIzaSyCCoBq7OQ7uyaetVbh4i74HUzabqnjM3dg</string>
	<key>GCM_SENDER_ID</key>
	<string>277823184852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yukaiyang.anysync</string>
	<key>PROJECT_ID</key>
	<string>anysync-ab6c7</string>
	<key>STORAGE_BUCKET</key>
	<string>anysync-ab6c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277823184852:ios:bb6ed4915e7fa879bfc041</string>
</dict>
</plist>